.review{
    padding: 80px;
}
.review > p{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
    color: #0094FF;
}
.review > h1{
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    letter-spacing: 0%;
}
.cardsContainer{
    display: flex;
    gap: 20px;
    align-items: baseline;
}
.card{
    padding: 20px;
    width: 30%;
    border: 2px solid rgb(25, 167, 244);
}
.profile{
    display: flex;
    gap: 10px;
}
.profile>img{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.profileDetails > p{
    padding: 0;
    margin: 0;
}
.card_content{
    padding-top: 20px;
}