.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 70px 0px ;
}
.banner_content{
    width: 50vw;
}
.banner_content > h1{
    font-size: 40px;
    font-weight: 700;
}
.banner_content > p{
    font-size: 20px;
    padding: 20px 0px;
}
.banner_img{
    width: 30vw;
}
.banner_img > img{
    width: 100%;
}
button{
    background-color: #0094FF;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    border: none;
}